<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="WindowsFormsApp1.Properties.Settings.NorthwindConnectionString"
   connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="WindowsFormsApp1.Properties.Settings.AdventureWorksConnectionString"
   connectionString="Data Source=.;Initial Catalog=AdventureWorks;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="HomeworkADONET2026.Properties.Settings.NorthwindConnectionString"
   connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>