/*
   2026年7月10日下午 02:49:47
   使用者: 
   伺服器: .
   資料庫: MyMemberDB
   應用程式: 
*/

/* 為了避免任何可能發生資料遺失的問題，您應該先詳細檢視此指令碼，然後才能在資料庫設計工具環境以外的位置執行。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE MyMemberSchema.MyMember
	(
	userId int NOT NULL IDENTITY (1, 1),
	userName nchar(12) NULL,
	userPassword nvarchar(50) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE MyMemberSchema.MyMember ADD CONSTRAINT
	PK_MyMember PRIMARY KEY CLUSTERED 
	(
	userId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE MyMemberSchema.MyMember SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
